name: test

on: [push, pull_request]

jobs:
  test:
    runs_on: macOSï¼latest

    - use: actions/checkout@v1

    - name: install dependencies
      run: npm install

    - name: lint
      run: npm run lint

    - name: build
      run: npm run build

